<strong>Olá, {{ deliveryman }}</strong>
<p> A encomenda foi cancelada, confira os detalhes abaixo: </p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Problema: </strong> {{ problem }} <br />
  <br />
  <small>
    O produto não está mais disponível para entrega.
  </small>
</p>
